<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>


<div class="container">
    <h1>Maria DB 연동 테스트</h1>
<!--    <div class="col-md-2"><h2>System Name</h2></div>-->
<!--    <div class="col-md-10"><h2>Module Name</h2></div>-->

    <div style="width:100%;height:200px;overflow:auto">
        <h2># Module List</h2>
        <table class="table table-sm" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr th:each="module,i:${module_list}">
                <td>
                    <input type="checkbox" class="custom-control-input" th:id="${module}">
                    <label class="custom-control-label" th:for="${module}" th:id="${i.count}" th:text="${i.count}">
<!--                        <p th:text="${i.count}"></p>-->
                    </label>

                </td>
                <td th:text="${module}"></td>
            </tr>
        </table>
    </div>

    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
    <div class="row" style="weight=100px; height:200px; overflow:auto">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>TITLE</th>
                <th>WRITER_ID</th>
                <th>CONTENT</th>
                <th>REGDATE</th>
                <th>HIT</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dat : ${data}">
                <td th:text="${dat.id}"></td>
                <td th:text="${dat.title}"></td>
                <td th:text="${dat.writer_id}"></td>
                <td th:text="${dat.content}"></td>
                <td th:text="${dat.regdate}"></td>
                <td th:text="${dat.hit}"></td>
            </tr>
            </tbody>
        </table>
    </div>


</div> <!-- /container -->
<script src="loadData.js"></script>
</body>
</html>